*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

i, svg {
    pointer-events: none;
}

.kick-pad, .snare-pad, .hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background: rgb(138, 211, 222);
}
.snare-pad {
    background: rgb(221, 225, 120);
}
.hihat-pad {
    background: rgb(233, 155, 190);
}

.kick-pad.active {
    background-color: rgb(9, 197, 225);
}

.snare-pad.active {
    background-color: rgb(222, 230, 5);
}

.hihat-pad.active {
    background-color: rgb(240, 9, 113);
}

.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hihat-track, .kick-track, .snare-track {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;

}

.snare, .hihat, .kick {
    display: flex;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button {
    padding: 1rem;
    border: none;
    background: rgb(254, 121, 121); 
    color: rgb(0, 207, 254); 
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
  
.pad {
    transition: all 0.5s ease;
}

.play {
    width: 60%;
    padding: 1rem 2rem;
    font-size: 1rem;
    background: grey;
    color: rgb(247, 215, 236);
    border: none;
    cursor: pointer;
    margin: 3.5rem;
}

select {
    padding: 0.5rem;
    font-size: 1rem;
    border-color: blueviolet;
}




